@layer theme, base, components, utilities, mui;
@import 'tailwindcss';

@theme inline {
  --color-primary: var(--color-indigo-500);
  --color-secondary: var(--color-blue-500);
  --color-tertiary: var(--color-green-500);
  --color-success: var(--color-green-500);
  --color-error: var(--color-red-500);
  --color-info: var(--color-orange-400);
}
/* Custom dark theme overrides */
@layer base {
  :root {
    --bg-primary: var(--color-white);
    --bg-secondary: var(--color-gray-100);
    --text-primary: var(--color-gray-900);
    --text-secondary: var(--color-gray-600);
    --border-color: var(--color-gray-200);
  }

  .dark {
    --bg-primary: var(--color-gray-900);
    --bg-secondary: var(--color-gray-800);
    --text-primary: var(--color-gray-50);
    --text-secondary: var(--color-gray-400);
    --border-color: var(--color-gray-700);
  }
}
